body {
	color: white;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	background-repeat: no-repeat;
	background-image: url('Fond2.jpg')
}

select {
	width: 200px;
	height: 30px;
	font-size: 20px;
}

Quizz {
	font-size: 150%;
	text-align: center;
}

h1 {	
	 font-size: 350%;
	 text-align: center;
}

h2 {	
	 font-size: 200%;
	 text-align: center;
}

h3 {
	font-size: 250%;
	text-align: center;
}

h4 {
	font-size: 150%;
}

h5 {
	font-size: 250%;
}

.zone {
	color: white;
	font-size: 25px;
	background-color: black;
	border: 10px solid #333;
	padding :20px;
	margin: 10px;
	flex: 1;
}

Quizz {
	padding: 20px;
	text-align: center;
	display: flex;
}

#calculateButton {
    width: 200px; 
    height: 50px; 
    font-size: 16px;
    text-align: center;

}	
	
#validation{
font-size:50%;
font-family:Arial Black;
color:black;
text-align:center;
width: 200px;
height: 30px;
}

h7 {
	font-size: 200%;
}